.product-popup {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.product-popup__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.product-popup__title {
    font-size: 2.2rem;
}

.product-popup__description {
    font-size: 1.8rem;
}

.product-popup__price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ab6939;
}

.product-popup__quantity {
    text-align: center;
    font-size: 2rem;
}

.product-popup__info {
    margin-bottom: .5rem;
}

.product-popup__button {
    width: 13rem;
    height: 3rem;
    background-color: #4e1602;
    border-radius: 1rem;
    border: none;
    color: white;
    cursor: pointer;
}